<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новое бронирование с сайта villa-helena.com</h1>
    <p>
      <b>Имя:</b> <%= @booking.full_name %>
    </p>
    <p>
      <b>Телефон:</b> <%= @booking.phone %>
    </p>
    <p>
      <b>Email:</b> <%= @booking.email %>
    </p>
    <p>
      <b>Дата заезда:</b> <%= @booking.date_from %>
    </p>
    <p>
      <b>Дата выезда:</b> <%= @booking.date_to %>
    </p>
    <p>
      <b>Комментарий:</b> <%= @booking.comment %>
    </p>
  </body>
</html>